/*:root {
	--bg-color: #000;
};*/

body {
	--bg-color: #f5f8fa;
	--blue: #1b95e0;
	--tbg-color: #fff;
	--tbg-color-h: #f5f8fa;
	--faded-font: #657786;
	box-sizing: border-box;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 14px !important;
	background-color: var(--bg-color);
	padding: 0;
	/*font: var(--f);*/
}

.top #side .bordered, .top #page-c #page-t, #thisDiaryInfo, #YaSearch {
	margin-right: 0 !important;
}

.top #side .bordered {
	background-color: var(--tbg-color);
	border-radius: 0;
	border: 0px !important;
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
	margin: 0;
	height: 46px;
	z-index: 1;
}

.top #side .bordered iframe {
	display: none;
}

.top #page-c {
	position: relative;
	top: 53px;
	float: none;
}

.top .bordered {
	margin-left: 300px;
	width: 590px;
	background: var(--tbg-color);
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
    border-radius: 6px;
    background-clip: padding-box;

}

.singlePost, .singleComment {
	background-image: url('https://pbs.twimg.com/profile_images/646240690641354752/StMPCOHB_bigger.png');
	background-repeat: no-repeat;
	background-size: 48px;
	background-position: 12px 12px;
	border-bottom: 1px solid #e6ecf0;
	padding: 9px 12px
}

#epigraph.singlePost {
	background-image: none;
	padding: 0;
}

.singlePost:hover, .singleComment:hover {
	background-color: var(--tbg-color-h)
}

.postDate, .countSecond .postDate {
    color: var(--faded-font);
}

.postTitle.header {	
	margin-left: 58px;
}

.postTitle.header, .postTitle.header h2 {
	color: #14171a;
    font-size: 14px;
    font-weight: bold
}

.postDate:hover {
	color: #BFABA0;
	text-decoration: underline;
}

.postContent {
	margin-left: 58px;
}

.singlePost .authorName {
	position: absolute;
	margin-left: 54px;
	top: 10px;
}

.singlePost .authorName a {
	color: inherit;
}

.singlePost .authorName a:hover {
	color: var(--blue);
}

#JournalComments .singlePost, #JournalComments .singleComment {
	background-image: none;
}

#JournalComments .postTitle.header {
	margin-left: 54px
}

#JournalComments .postContent {
	margin: 0;
}

.singleComment {
	position: relative;
}

#JournalComments .commentAuthor {
	margin: 0;
	max-width: 48px;
	max-height: 48px;
	position: absolute;
	top: 12px;
}

#JournalComments .commentAuthor div {
	max-width: 48px;
	max-height: 48px;	
}

.paragraph {	
	line-height: 20px;
	margin-left: 58px;
}

.postLinks li {
	background-color: #2b2b2b;
	padding: 6px 10px;
	border-radius: 4px;
	font-size: 11px;
}

.postLinks li a {
	color: #fff;	
}

.atMusic, .atMood, .atTag {
	color: var(--faded-font);
}

.atTag a {
	text-decoration: none;
}

.atTag a:hover {
	text-decoration: underline;
}

.atTag a:before {
	content: "#"
}


a {
	color: var(--blue);
}

img, iframe {
	max-width: 100%
}