/*ЗАДАЁТСЯ ФОН ДНЕВНИКА, ШРИФТ И ЕГО ЦВЕТ*/
body {
	box-sizing: border-box;
	color: #474748;
    background-color: #C2CBCE;
	font-family: Georgia, serif;
	font-size: 14px;	
}

.htmlbox textarea, input.text, #trspisok textarea, #close_text {
	box-sizing: border-box;
	color: #474748;
    background-color: #C2CBCE;
	font-family: Georgia, serif;
	font-size: 14px;	
}

#vkl li a  {
	color: #474748;
}

div#w18p.bordered.menu_block {
	display: none;
}

/*ДОБАВЛЯЕМ ЗЛОСЧАСТНЫЙ ХЭДЕР*/
#wrapper div.bordered.menu_block {
	background-image: url(head.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 574px;
}

/*ТОЧЕЧНАЯ РАЗМЕТКА МЕЖДУ ЗАПИСЯМИ*/
.postLinksBackg {
	padding-bottom: 15px;
	border-bottom: 1px dotted #474748;
}

/*ОПРЕДЕЛЯЕМ ЦВЕТ ФОНА ЗАПИСЕЙ, РАМКИ И ГРАНИЦЫ*/
div#postsArea.bordered {
	position: relative;
	background-color: #FAFCFD;
	box-sizing: border-box;
	padding: 15px;
	border: 10px solid #474748;
	border-top: 20px solid #474748;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5),
				0 6px 20px 0 rgba(0, 0, 0, 0.5),
				0 6px 20px 0 rgba(0, 0, 0, 0) inset;
}

div.sign {
	color: #A4BCC2;
	font-size: 0.75em;
}

/*ЗАДАЁМ ПАРАМЕТРЫ ЗАГОЛОВКА ЗАПИСИ */
.header, h1, .postDate, .countSecond .postDate {
	color: #81A8B8
}

.postTitle.header {
	padding-top: 29px;
}

.countSecond .postDate, .countFirst .postDate {
	position: absolute;
	right: 0px;
	margin-left:66%;
	padding-right: 10px;
	padding-left: 15px; 
	/*width: 33%;*/
	color: #DBE6EC;
	background-color: #484B53;
	text-shadow: 0 0 3px #FAFCFD;
}

#side {
	position: fixed;
	z-index: 0;
	box-sizing: border-box;	
	background-color: #fff;
	border: 10px solid #474748;
	border-top: 20px solid #474748;	
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5),
				0 6px 20px 0 rgba(0, 0, 0, 0.5),
				0 6px 20px 0 rgba(0, 0, 0, 0) inset;	
}

#topNav a, #bottomNav a, a, .linkssection .postLinks a, #side h1 a, .header a, .TagL {
	color: #81A8B8;	
	/*transition: color 0.5s;*/
}

.paragraph a {
	text-decoration: none;
	transition: color 0.5s ease-in-out;
}

.paragraph a:hover {
	color: #474748;
}

img {
	max-width: 100%;
}